html {
  background-color: #131212;
}

body {
  font-family: 'Inter', 'sans-serif';
  height: 100vh;
  margin: 0;
  padding: 0;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 ;
}

.logo {
  width: 200px;
}

label {
  color: #3235f8;
  font-weight: 500;
  font-size: 22px;
}

form {
  display: flex;
}

.button {
  border: solid 4px #3235f8;
  border-radius: 6px;
  color: #3235f8;
  background-color: #0e0e0e;
  padding: 0 30px;
  margin-left: 8px;
  font-weight: 600;
  transition: all 0.5s;
}

.button:hover {
  background-color: #3235f8;
  color: #fafafa;
}

h2 {
  font-size: 20px;
  color: #3235f8;
}


.itens-comprados {
  text-decoration: line-through;
}

.borda-lista {
  border-bottom: solid 1px #3235f8;
}

input:disabled {
  font-weight: 400;
  border: none;
  background: none;
  color: #0e0e0e;
}

input {
  border: none;
  background: none;
  color: #595bf1;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3235f8;
  position: sticky;
  height: 40px;
  font-size: 14px;
  width: 100%;
  text-align: center;
}

footer p {
  margin: 5px 0;
  font-weight: 400;
}

i {
  font-size: 18px;
}