html {

  background: linear-gradient(177.52deg, #0182eb15 2.11%, #002c50 85.5%);
  background-repeat: no-repeat;
  height: 100%;
}

body {
  font-family: 'Inter', 'sans-serif';
  font-size: 16px;
}

h2 {
  font-size: 18px;
  color: #1E90FF;
}


.top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.logo {
  max-width:150px;
  max-height:100px;
  width: auto;
  height: auto;
}

.title {
  text-align: center;
  margin-left: 15px;
  color: #1E90FF;
}

label {
  color: #1E90FF;
  font-weight: bold;
  font-size: 18px;
}

form {
  display: flex;
}

.button {
  border: none;
  color: #FFF;
  background-color: #03C03C	;
  border-radius: 2px;
  padding: 0 16px;
  margin-left: 8px;
  font-weight: bold;
}

.button:hover {
  background-color: #4ed376;
  color: #FFF;
}

.itens-comprados {
  text-decoration: line-through;
}

.borda-lista {
  border-bottom: solid 1px #1E90FF;
}

input:disabled {
  border: none;
  background: none;
  color: black;
}

input {
  border: none;
  background: none;
  color: black;
}

footer {
  border-top: solid 1px #FFF;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center;
}

footer p {
  margin: 6px 0;
}